/GameReviewsAPI/GameReviews.API/GameReviews.API/bin/
/GameReviewsAPI/GameReviews.API/GameReviews.API/obj/
/GameReviewsAPI/GameReviews.API/.vs/
/GameReviewsAPI/GameReviews.API/GameReviews.API/appsettings.json

